# requirements.txt
tensorflow          # No version constraint
tensorboard         # No version constraint
scikit-learn
pandas
numpy
matplotlib
seaborn
streamlit
streamlit-webrtc
opencv-python       # No version constraint
requests
tqdm
Pillowgit 